/** Colors **/
$blue: 004aad;

/** General Layout **/
.AppChild {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "h"
    "."
    "ff";
  }
.header {
    grid-area: h;
    }
