/** Colors **/
$blue: #004aad;

/** General Layout **/
.AppChild {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "h"
    "."
    "ff";
}



.header {
  grid-area: h;
}

html, body {margin:0;padding:0;height:100%;}