/** Overall layout **/
.big-landing-wrapper {
    display: grid;
    grid-template-rows: minmax(100vh, auto); //savior!

    .AppChild {
        background: rgba(0, 0, 0, 0.5);

        .landingMain {
            .main {
                padding-top: 6%;
                width: 100%;
                height: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.5em;
            }
        }

        .footer {
            float: left;
            grid-area: ff;
            text-align: right;
            padding: 20px;
            img {
                padding-right: 0.5em;
            }
        }
    }
}

/** Jumbo **/
.jumbo {
    background: rgba(91, 147, 194, 0.7);
    padding: 2em;
    color: white;
    // margin: 0 3% 0.5em;
    // border-radius: 1em;

    h1 {
        font-family: GlacialIndifferenceBold;
    }
    h2 {
        font-family: GlacialIndifferenceRegular;
    }
}

/** transparent header only for landing page **/
.header h1 {
    color: white;
}

.try {
    background: black;
}

.f {
    grid-area: ff;
    background: black;
}

/** new buttons **/
.main .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15%;
    margin: 0 3em;
    cursor: pointer;
    font-family: GlacialIndifferenceRegular;

    .vs,
    .os {
        color: white;
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 0.8em;
        margin: 1em 0;
        padding: 0.5em 1em;
        border-radius: 1em;
        background: rgba(0, 0, 0, 0);
        transition: background 0.25s ease;

        &:hover {
            background: rgba(0, 0, 0, 0.4);
        }

        img {
            color: white;
            width: 55%;
        }

        h1 {
            font-size: 35px;
        }

        p {
            border: 2.5px #ffc480 solid;
            border-radius: 3em;
            padding: 0 0.5em 0;
            color: #ffc480;
            font-size: large;
            font-weight: 400;
        }
    }
    .os img {
        width: 39%;
    }
}
