/** Overall layout **/


.landingMain {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "m m m"
        "f f f";
    height: 100%;
}

.main {
    grid-area: m;
    place-self: center;
    width: 100%;
    text-align: center;
}

.footer {
    float: left;
    grid-area: ff;
    text-align: right;
    padding: 20px;
    img {
        padding-right: 0.5em;
    }
}

/** Jumbo **/
.jumbo {
    h1 {
        font-family: GlacialIndifferenceBold;
    }
    h2 {
        font-family: GlacialIndifferenceRegular;
    }

    background: rgba(91, 147, 194, 0.7);
    padding: 2em;
    margin-bottom: 0.5em;
    min-width: 8em;
    color: white;
}

.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .btn1,
    .btn2,
    .btn {
        cursor: pointer;
        color: white;
        font-family: GlacialIndifferenceRegular;
        font-size: 2em;
        background: #ffc480;
        border-radius: 3em;
        padding: 0.2em;
        flex: 0 0 11em;
        margin: 0.5em 1em 0.5em;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        h1 {
            font-size: 90%;
            margin: 0 auto 0 auto;
        }
    }
}

/** transparent header only for landing page **/
.header h1 {
    color: white;
}

.try {
    background: black;
}


.f {
    grid-area: ff;
    background: black;
}