/** Overall Layout **/
.story--main {
    grid-column: 1 / 2;
    display: flex;
    flex-wrap: wrap;
}

.side--main {
    flex: 1 0 10em;
    margin-right: auto;
}

.story--body {
    flex: 10 0 20em;
    padding: 1em;
}

/** Sidebar **/
.side--main {
    color: #004AAD;
    padding: 2em 1em 0em;
    border-right: 1px rgba(0, 0, 0, 0.2) solid;
    margin: 2em 0em 1em;
}

.sideChunk h3 {
    text-decoration: none;
    font-weight: 400;
}

.sideChunk {
    text-align: left;
}

.sideChunk ul {
    padding-left: 10px;
    margin-bottom: 1em;
}

/** Responsive **/
@media (max-width: 732px) {
    .side--main {
        margin: 0em 1em 0em;
        border: none;
        padding: 1em 1em 0em;
        border-bottom: 1px rgba(0, 0, 0, 0.2) solid
    }

    .side--main h3 {
        text-align: left;
    }

    .sideChunk ul {
        margin-bottom: 0px;
    }
}

/** Story Body **/
.story--heading {
    text-align: center;
    margin: 0em 0em 0.5em;
    font-weight: 400;
}

/***** Tiles *****/

.allTiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-template-rows: repeat(auto-fit, auto);
    grid-gap: 1em;
}

.tilebox {
    place-self: center;
}

.tilebox>button {
    padding: 0em;
}

.tilebox img {
    width: 100%;
}

.tilebox>button, .tilebox img {
    border-radius: 4px;
}

/** Modals **/
.modal-grey {
    padding-top: 3em;
}

.modal-dialog {
    vertical-align: middle;
}