.about-main {
    display: flex;
    flex-direction: column;

    .heading {
        background: url('./lib-bg.png');
        background-size: cover;
        background-position: center;
        color: white;

        .heading-overlay {
            background: rgba(36, 64, 103, 0.3);

            & > h2 {
                text-shadow: 0 0 19px black;
                padding: 0.4em 0.5em;
                margin-bottom: -0em;
            }
        }

        .storybox {
            background: #FFC480;
            position: relative;
            top: 3em;
            text-align: center;
            padding: 2em;
            margin: 0 10% 0;
            border-radius: 6px;
            
            p {
                color: white;
                text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
                font-weight: 500;
                font-size: large;
            }
        }
    }

    .body {
        background: #244067;
        padding: 0 5% 0;

        & > h2 {
            color: white;
            padding-top: 2em;
        }

        h3 {
            text-align: center;
            color: #FFC480;
            font-weight: 400;
            font-style: italic;
        }

        .members {
            // background: aliceblue;
            display: flex;
            gap: 2em;
            justify-content: center;
            margin: 0 auto 1em;
            flex-wrap: wrap;
            color: white;

            .member {
                flex: 0 0 9.5em;
                text-align: center;

                img {
                    width: 100%;
                    opacity: 0%;
                }

                h2 {
                    padding-top: 0em;
                }
            }
        }
    }
}
