/**** TOP ****/
.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.logo {
    margin-right: auto;
    margin-left: 10px;
}

.dots {
    margin-right: 30px;
    align-self: flex-start;
}

.ucb {
    font-size: 25px;
    color: #faf7f7;
    font-family: GlacialIndifferenceItalic;
    font-weight: 600;
    margin: 0 15px 0;
}

/**** BOTTOM ****/
.navMain {
    /* background-color: black; */
    display: flex;
    color: white;
    align-items: flex-end;
    justify-content: space-between;
}


.lines {
    background-color: grey;
    flex-grow: 1;
} 

.navibarGroup {
    display: flex;
}

.navibarGroup a {
    flex: 1;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.navibar {
    width: 700px;
}

.navibar * {
    border-radius: 0px;
    background-color: #004AAD;
    border-color: #5271FF;
    border-bottom: 0;
}

/** Lines **/
.lines {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 25px;
}

.line1 {
    background-color: #5271FF;
    flex: 1;
}

.line2 {
    background-color: #004AAD;
    flex: 1;
}

