.sideChunk h3 {
    text-decoration: underline;
}

.sideChunk {
    text-align: left;
}

.sideChunk ul {
    padding-left: 10px;
}

/***** Grids for tiles *****/

.allTiles {
    display: flex;
    flex-wrap: wrap;
}

.tilebox {
    margin-bottom: 10px;
}