
.searchSpace{

	h1{
		padding-top: 105px;
		padding-left: 50px;
		color: #004687;
	}

	h2 {
		width: 50%;
		padding-top: 30px;
		padding-left: 50px;
		color: #004687;
	}
}

.searchLabel {
margin-left: -10px;
padding-left: 60px;
padding-top: 30px;
float: left;
	font-size: 25px;
	font-weight: bold;
	color: #004687;
}

.searchPoint {
padding-left: 15px;
padding-top: 35px;
	float: left;
	color: #004687;
}

.searchBar {
	float: left;
}

 .sicon {

	.btn {
	margin-left: 15px;
	padding: 5px;
	color: white;
	background-color: #004AAD;
	

	}
 }

.filter-section {
	color: #004687;
	position: relative;
	right: 20vmin;
	h3{
	font-size: 30px;
	font-weight:bolder;
	
	}
	h4 {
	font-size: 30px;
	
	}
}

.sort-section {
	color: #004687;
	position: relative;
	right: 10vmin;
	h1{
	font-size: 30px;
	font-weight:bolder;
	}
}
.result-section {
	position: relative;
	left: 80vmin;
	bottom: 30vmin;

	.rowOne {
	padding-bottom: 10px;
	}

}

.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 70%;

}

.modal-body {
    
    overflow-y: auto;

    .row {
    padding-bottom: 20px;
    }

    .col-md-6, .col-md-4, .col-md-8, .col-md-3, .col-md-9 {
    text-align: left;
    }
}
