.searchSpace {
	h1 {
		padding-top: 105px;
		padding-left: 50px;
		color: #004687;
	}

	h2 {
		width: 50%;
		padding-top: 30px;
		padding-left: 50px;
		color: #004687;
	}
}

.searchLabel {
	margin-left: -10px;
	padding-left: 60px;
	padding-top: 30px;
	float: left;
	font-size: 25px;
	font-weight: bold;
	color: #004687;
}

.searchPoint {
	padding-left: 15px;
	padding-top: 35px;
	float: left;
	color: #004687;
}

.searchBar {
	float: left;
}

.sicon {
	.btn {
		margin-left: 15px;
		padding: 5px;
		color: white;
		background-color: #004aad;
	}
}

.sort-section {
	color: #004687;
	position: relative;
	right: 10vmin;
	h1 {
		font-size: 30px;
		font-weight: bolder;
	}
}
.result-section {
	position: relative;
	left: 80vmin;
	bottom: 30vmin;

	.rowOne {
		padding-bottom: 10px;
	}
}

.modal-dialog,
.modal-content {
	/* 80% of window height */
	height: 90%;
}

.modal-body {
	overflow-y: auto;

	.row {
		padding-bottom: 20px;
	}

	.col-md-6,
	.col-md-5,
	.col-md-4,
	.col-md-8,
	.col-md-3,
	.col-md-9,
	.col-md-7 {
		text-align: left;
	}
}

/** Inner tile styling **/
.vs--inner-tile {
	display: flex;
	flex-wrap: wrap;
	gap: 3em;

	i {
		margin-right: 0.5em;
		color: #004687;
		display: inline;
	}

	p {
		font-weight: 400;
		display: inline;
	}

	.vs-text-img {
		flex: 0 0 25em;
	}
	img {
		width: 100%;
	}

	.vs-text-wrapper {
		flex: 1 0 10em;
	}
}

.modal-header h5 {
	font-weight: 400;
}

 .modal-dialog, .modal-content {
 	max-width: 95%;
 	max-height: 90%;
 }

 .clickable {
 cursor: pointer;
 }
	

/** filter **/
.filter-section {
	color: #004687;
	position: relative;
	right: 20vmin;

	h3 {
		font-size: 1.4em;
		font-weight: bolder;
	}

	h4 {
		font-size: 30px;
	}

	#multiselectContainerReact {
		box-shadow: 0 0 3px rgba(0, 74, 173, 0);
		border-radius: 4px;
		transition: box-shadow 0.35s ease;
	}

	#multiselectContainerReact:hover {
		box-shadow: 0 0 3px rgba(0, 74, 173, 1);
	}
}
